.btn {
  font-size: 1.25rem;
  color: #f1f1f1;
  transition: color 0.4s;
}

.close-menu {
  position: absolute;
  top: 1rem;
  right: 1rem;
  font-size: 1.5rem;
  color: var(--heading-color);
}

.change-theme {}

.open-menu {
  @media screen and (min-width: 768px) {
    display: none;
  }
}