:root {
  --background: hsl(0, 0%, 96%);
  --foreground: hsl(0, 0%, 50%);
  --heading-color: hsl(0, 0%, 12%);

  --font-poppins: "Poppins", sans-serif;
  --font-montserrat: "Montserrat", sans-serif;

  --fz-base: 0.938rem;
  --fz-xl: 1.5rem;
}
