html {
  box-sizing: border-box;
  scroll-behavior: smooth;
  line-height: initial;
}

*,
*::after,
*::before {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  font-family: var(--font-poppins);
  font-size: var(--normal-font-size);
  background-color: var(--body-color);
  color: var(--text-color);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  color: var(--title-color);
  font-family: var(--font-montserrat);
  font-weight: 600;
}

ol,
ul {
  list-style: none;
}

a {
  display: inline-block;
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

input,
button {
  font-family: inherit;
  font-size: inherit;
  border: 0;
}

button {
  cursor: pointer;
  background-color: transparent;
}

::selection {
  background-color: var(--first-color);
  color: var(--white-color);
}
