.main {
  overflow: hidden;
}

.section {
  padding-block: 5rem 1rem;

  &__title {
    font-size: var(--fz-xl);
    margin-bottom: 1.5rem;
    text-align: center;
  }
}

.container {
  max-width: 1120px;
  margin-inline: 1.5rem;
}

.grid {
  display: grid;
  gap: 1.5rem;
}
